---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Admin login">
  <h1>Login form</h1>

  <form id="loginForm">
    <label>
      Email
      <input id="email" name="email" />
    </label>

    <label>
      Password
      <input id="password" name="password" type="password" />
    </label>

    <button type="submit">Submit</button>
  </form>
</BaseLayout>

<script>
  import { api } from "../../services/client/ApiClient";

  const form = document.getElementById("loginForm") as HTMLFormElement;
  const email = document.getElementById("email") as HTMLInputElement;
  const password = document.getElementById("password") as HTMLInputElement;

  form?.addEventListener("submit", (evt: SubmitEvent) => {
    evt.preventDefault();

    const formData = new FormData(form);
    api.post<{ token: string }>("login", formData).then((result) => {
      email.value = "";
      password.value = "";

      console.log("Got response: ", result);
    });
  });
</script>
